.nav-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    z-index: 11;
}

.nav-bar p {
 margin-block: 0;
 padding-inline-start: 1rem;
 font-weight: bold;
}
.nav-bar button{
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--text-color);
    border: none;
    cursor: pointer;
}
.open {
    /* background-color: rgba(28, 22, 20,.8); */
    background: rgba(255, 255, 255,);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
}